* {
  /* border: 1px solid red; */
}
body {
  background-image: url('./assets/bg-img-init.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Itim;
  height: 100vh;
  margin: 0;
  filter: brightness(1.2) contrast(1.1) saturate(1.3) hue-rotate(10deg)
          drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.3));
}

html, body, .root {
  height: 100vh;
  margin: 0;
}

main {
  display: grid;
  place-items: center;
  flex-direction: column;
  height: 100vh;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-row: 5;
  cursor: pointer;
}

.timer button {
  cursor: pointer;
  
}

.timer-text {
  font-size: 90px;
  letter-spacing: 4px;
  text-align: center;
  color: #FFFFF7;
  opacity: 0.95;
  margin: 0;
  font-weight: 400;
}

.timer-start-text {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: white;
  opacity: 0.6;
  margin: 0;
  margin-top: -10px;
}

.timer-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  grid-row: 8;

}

.timer-buttons button {
    width: 80px; /* Adjust as needed */
    height: 45px; /* Half of the width for an ellipse */
    border-radius: 50%; /* Ensures the elliptical shape */
    background-color: white; /* White fill */
    border: none; /* Remove default border */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: white;
    font-size: 12px;
    font-weight: 400;
    font-family: Itim;
}

.misc-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  grid-row: 9;
}

.misc-buttons img{
  width: 50px;
  cursor: pointer;
}

.misc-buttons img:hover{
  width: 50px;
  cursor: pointer;
}


